<style>
  .titleImg {
    text-align: center;
    margin-top: 230px;
  }
  .second {
    font-size: 2em;
  }
  body {
    color: black;
    background: url('/assets/bg_j.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
<div class="titleImg">
  <a href="/mole"> <img id="headImg" src="/assets/new_ghost_gray.png"/></a>
  <p class="second">PRESS GHOST TO START</p>
  <a href="http://pnu.likelion.org" style="text-decoration: none; color: #fed136;"><p class="second" style="margin-top: 10px;">뒤로가기</p></a>
</div>